@import "../../../styles/colors.css";
@import "../../index.css";

* {
    padding: 0;
    margin: 0;
}

.back-arrow {
    color: var(--primary-blue);
}

.card-title {
    text-align: center;

    font-style: italic;

    margin: 1em 0;
    padding: 0;
}

/* bookmark */


.bookmark {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 1em 0;
  
    transition: opacity 2.6s ease-in-out;
  }
  
  .bookmark.fade-out {
    opacity: 0;
  }
  
  .bookmark > * {
    height: 35px;
    width: 35px;
  
    cursor: pointer;
  
    z-index: 100;
  }

/* TOP LEVEL INFORMATION*/

.top-level-info {
    display: flex;
    justify-content: space-between;
    
    margin: 0;
}

.artbook-info {
    display: flex;
    flex-direction: column;
}

.artbook-info p {
    margin: 0;
    padding: 0;
}

#author {
    margin-bottom: 3em;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2em;
}

/* BOTTOM LEVEL INFORMATION */

.bottom-level-info {
    list-style: none;
    padding: 0;
    margin-bottom: 3em;
}

/* DESCRIPTION */

#description {
    width: 50vw;
}


/* SEE ARTBOOK BUTTON */

.see-artbook-btn {
    margin-top: 2em;

    border-radius: 0;
    border: 1.5px solid black;

    padding: 1em 4em;

    background-color:var(--primary-blue);
}

.see-artbook-btn > a{
    color: var(--primary-white);
}