.accordion-item {
  background-color: #3a34340b;
  margin: 5px auto;
  max-width: 600px;
  border-radius: 8px;
  width: 90%;
}
.accordion-button {
  background-color: #444242f5; /* Darker gray for closed state */
  color: #fff; /* White text for better contrast */
}

.accordion-header {
  padding: 10px; /* Add padding to the header */
  background-color: #ffffff; /* White background color for the header */
}
.accordion-button:not(.collapsed) {
  color: whitesmoke;
  background-color: gray;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
strong {
  display: block; /* Make strong elements block level for better centering */
  margin-bottom: 5px; /* Adjust spacing between elements */
}






