:root {
    --primary-blue: #1635D7;
    --primary-white: #FFFFFF;

    --secondary-grey: #707070;
    --secondary-lt-grey: #E9E9E9;

    --tertiary-soft-blue: #F1F2FF;
    --tertiary-dk-blue: #151515;

    --error: #EF4040;
}