@import "../../../styles/colors.css";

* {
  padding: 0;
  margin: 0;
}

/********************************** HERO SECTION **********************************/
.hero-section img {
  height: 100vh;
  width: 100vw;
}

/* .hero-section {
    height: 100vh;
    background-color: var(--primary-blue);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: var(--primary-white);
}

.hero-info {
    padding: 2em;
}

.hero-info header {
    font-size: 50px;
    font-weight: 300;
    font-style: italic;
}

.hero-info main {
    font-size: 100px;
    font-weight: 900;
}

.hero-info p {
    font-size: 50px;
    font-weight: bold;
}

.hero-arrow {
    cursor: pointer;
} */

/* @media screen and (max-width: 600px) {
  .hero-info header {
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
  }

  .hero-info main {
    font-size: 60px;
    font-weight: 900;
  }

  .hero-info p {
    font-size: 25px;
    font-weight: bold;
  }

  .hero-arrow {
    width: 2em;
    height: 4em;
  }
}

@media screen and (max-width: 450px) {
  .hero-info header {
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
  }

  .hero-info main {
    font-size: 45px;
    font-weight: 900;
  }

  .hero-info p {
    font-size: 25px;
    font-weight: bold;
  }

  .hero-arrow {
    color: var(--primary-white);
    width: 5em;
    height: 8em;
  }
}

.hero-arrow {
  color: var(--primary-white);
  width: 5em;
  height: 8em;

  animation: bounce 2s cubic-bezier(1, 0.84, 0.44, 1) infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
} */

/********************************** IMAGE CAROUSEL **********************************/
.carousel-container {
  z-index: 5;
}
.carousel {
  display: flex;
}

.carousel-img {
  width: 100%;
}

.carousel-desc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 8em 2em 8em;

  background-color: var(--primary-white);
  font-weight: 400;
}

.mobile-desc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 8em 2em 8em;

  font-weight: 400;

  display: none;
}

@media screen and (max-width: 1250px) {
  .carousel {
    flex-direction: column;
    justify-content: center;
  }
  .carousel-img {
    height: 50vh;
    width: 100vw;
  }
}

@media screen and (max-width: 650px) {
  .carousel-img {
    height: 25vh;
  }

  .carousel-desc {
    display: none;
  }
  .mobile-desc {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .mobile-desc {
    font-size: 12px;
  }
}

/********************************** DISPLAY ARTWORK **********************************/

/****** dropdown section*******/
.clear-filter-btn {
  border-radius: 0;
  border: 1.5px solid black;

  background-color: var(--primary-blue);

  font-weight: 300;
  font-style: italic;
}

.dropdown {
  position: relative;

  border: 1px solid black;
}

.filter-option {
  margin: 2em 0;
}

/******************************/

.dropdown-group {
  position: relative;
}

.dropdown-group label {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust the left position based on your design */
  transform: translateY(-50%);
  background-color: #fff; /* Optional: Set the background color to match your form background */
  padding: 0 5px; /* Optional: Add padding for better visual appearance */
}

.display-artbooks-container {
  position: relative;
}

#artwork-title {
  font-style: italic;
  font-weight: 100;
}

.product-item {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

.product-row {
  margin: 0;
  padding: 0;
}

.product-col {
  margin: 0;
  border: 1px solid black;
}

.bookmark {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1em 0;
}

.bookmark > * {
  height: 35px;
  width: 35px;

  cursor: pointer;

  z-index: 100;
}

.book-title {
  display: flex;
  justify-self: center;
  align-items: center;
  text-decoration: none;

  color: black;

  font-size: 20px;
  font-weight: 100;
  font-style: italic;
}

.book-image {
  width: 50%;
  height: 50%;
  margin: 2em;
}

.card-footer {
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  color: black;
}

.card-info {
  width: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info > span {
  font-size: 18px;
  font-weight: 100;
  font-style: italic;
}

#divider {
  margin: 0 6px;
}

.pagination-container {
  margin: 2em 0;
}

.pagination {
  color: red;
}

/*
.product-item {
border: 1px solid #ddd;
padding: 10px;
text-align: center;
margin-bottom: 20px;
height: 100%;
max-height: 300px;
overflow: hidden;
}
*/

/**************************** POST BUTTON SECTION ****************************/
.btn-container {
  z-index: 5;
}

.post-btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background-color: var(--primary-blue);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 75px;
  font-weight: lighter;
  color: var(--primary-white);

  position: absolute;
  bottom: 0;
  right: 0;

  margin-bottom: 2em;
}

.post-btn:hover {
  color: var(--primary-white);
}
