/* 
blue: #1635D7
*/

/* HERO SECTION */
.hero-section {
    width: 100vw;
    height: 100vh;
    background-color: #1635D7;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
}

.hero-info header {
    font-size: 50px;
    font-weight: bold;
}

.hero-info main {
    font-size: 100px;
    font-weight: bold;
}

.hero-info p {
    font-size: 50px;
    font-weight: bold;
}

/*  */