* {
    padding: 0;
    margin: 0;
}

/**************************** HEADER SECTION ****************************/

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6em;
    margin: 0 4em 0 4em;

    background-color: white;

    z-index: 5;
}

.logo {
    width: 10em;
    height: 6em;
}

.logo img{
    width: 100%;
    height: 100%;

}


.pfp {
    width: 65px;
    height: 65px;
    /* background-color: rgb(149, 181, 199);
    border-radius: 50%; */

    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .logo h1{
        font-size: 24px;
        font-weight: 800;
    }

    .header-section {
        flex-direction: column;
    }
}

@media screen and (max-width: 760px) {
    .header-section {
        gap: 4em;
    }
}
/**************************** NAVIGATION SECTION ****************************/
/* .nav-container {
    background-color: white;
} */

.active-link {
    text-decoration: underline;
}


/**************************** FOOTER SECTION ****************************/
.footer-container {
    max-width: 100vw;
    
    display: flex;    
    justify-content: center;
    align-items: center;

    gap: 2em;
}

@media screen and (max-width: 650px) {
    .footer-container {
        flex-direction: column;
    }
}