.container {
  width: 80%;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
}

.about-content {
  margin-top: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.thanks-description {
  text-align: center;
  margin-bottom: 20px;
}

.special-thanks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.special-thanks li {
  margin: 5px;
}
