.container {
  width: 80%;
  margin: 0 auto;
}

h2{
  color: #281eb7;
}
.header{
  text-align: center;
}
.about-content {
  margin-top: 30px;
}
.intro{
  margin-bottom: 10%;
}
.body{
  margin-bottom: 5%;
}
.name{
  color: #281eb7;
  margin-bottom:-0.25%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.thanks-description {
  
  margin-bottom: 20px;
}

.special-thanks {
  display: flex;
  flex-wrap: wrap;

}

.special-thanks li {
  margin: 5px;
}
