@import "../../../styles/colors.css";

* {
    padding: 0;
    margin: 0;
}

/* SEARCH BAR  */

.search-container {
    width: 100%;
    margin: 5em 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-input {
    margin: 0 2em 0 2em;
    padding: 1em 2em;

    background-color: var(--tertiary-soft-blue);

    width: 40%;
}

.search-input::placeholder {
    color: var(--primary-blue);
    font-weight: bold;
}

.search-btn {
    background-color: var(--primary-blue);

    border-radius: 0;
    border: 1.5px solid black;

}

/* SEARCH RESULT */

.search-result-container {
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    margin: 2em 0;
    height: auto;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2em 0;
}

.search-result-container > ul {
    list-style: none;
}

#no-result-text {
    font-size: 40px;
    font-weight: bold;
    color: var(--primary-blue)
}


.bookmark {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 1em 0;
  
    transition: opacity 2.6s ease-in-out;
  }
  
  .bookmark.fade-out {
    opacity: 0;
  }
  
  .bookmark > * {
    height: 35px;
    width: 35px;
  
    cursor: pointer;
  
    z-index: 100;
  }